body { background: #1f166b; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 37px; display: flex; }
.block-invoice-0 { color: #f29d05; font-size: 15px; margin-bottom: 5px; }
.block-uploader-1 { color: #2f4080; font-size: 20px; margin-bottom: 5px; }
.block-database-2 { color: #b0c631; font-size: 14px; margin-bottom: 5px; }
.block-database-3 { color: #4220b3; font-size: 15px; margin-bottom: 5px; }
.block-payment-4 { color: #741b0f; font-size: 13px; margin-bottom: 5px; }